<h1 class="mat-display-1">{{"label_profile"|translate}}</h1>
<div>
  <mat-card>
    <mat-card-title>{{"label_overview"|translate}}</mat-card-title>
    <mat-card-subtitle *ngIf="profile">{{profile.userName}}</mat-card-subtitle>
    <mat-card-content>
      <table *ngIf="profile" class="zebra">
        <tr>
          <th>{{"label_rating"|translate}}</th>
          <td>{{profile.playerRating / 100}} (max {{profile.highestRating / 100}})</td>
        </tr>
        <tr>
          <th>{{"label_level"|translate}}</th>
          <td>{{profile.level}}</td>
        </tr>
        <tr>
          <th>{{"label_playCount"|translate}}</th>
          <td>{{profile.playCount}}</td>
        </tr>
        <tr>
          <th>{{"label_namePlateID"|translate}}</th>
          <td>{{profile.nameplateId}}</td>
        </tr>
        <tr>
          <th>{{"label_frameID"|translate}}</th>
          <td>{{profile.frameId}}</td>
        </tr>
        <tr>
          <th>{{"label_characterID"|translate}}</th>
          <td>{{profile.characterId}}</td>
        </tr>
        <tr>
          <th>{{"label_lastPlay"|translate}}</th>
          <td>{{profile.lastPlayDate}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <mat-card>
    <mat-card-title>{{"label_scoreStatistics"|translate}}</mat-card-title>
    <mat-card-content>
      <table *ngIf="profile" class="zebra">
        <tr>
          <th>{{"label_totalHighScore"|translate}}</th>
          <td>{{profile.totalHiScore}}</td>
        </tr>
        <tr>
          <th>{{"label_totalBasicHighScore"|translate}}</th>
          <td>{{profile.totalBasicHighScore}}</td>
        </tr>
        <tr>
          <th>{{"label_totalAdvancedHighScore"|translate}}</th>
          <td>{{profile.totalAdvancedHighScore}}</td>
        </tr>
        <tr>
          <th>{{"label_totalExpertHighScore"|translate}}</th>
          <td>{{profile.totalExpertHighScore}}</td>
        </tr>
        <tr>
          <th>{{"label_totalMasterHighScore"|translate}}</th>
          <td>{{profile.totalMasterHighScore}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
