<h1 class="mat-display-1">{{"label_dashboard"|translate}}</h1>

<mat-card>
  <mat-card-content>
    {{"label_dashboardIntro"|translate}}<br>
     {{"label_imageAssetsIntro"|translate}}{{enableImages ? ("label_useImageAssets"|translate) : ("label_dontUseImageAssets"|translate)}}
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>{{"label_status"|translate}}</mat-card-title>
  <mat-card-content>
    {{"label_divaMusicList"|translate}} {{divaPv}}<br>
    {{"label_divaModuleList"|translate}} {{divaPv}}<br>
    {{"label_divaCustomizeList"|translate}} {{divaPv}}<br>
    {{"label_chunithmMusicList"|translate}} {{chuniMusic}}<br>
    {{"label_chunithmCharacterList"|translate}} {{chuniCharacter}}<br>
    {{"label_chunithmSkillList"|translate}} {{chuniSkill}}<br>
    {{"label_ongekiCardList"|translate}} {{ongekiCard}}<br>
    {{"label_ongekiCharacterList"|translate}} {{ongekiCharacter}}<br>
    {{"label_ongekiMusicList"|translate}} {{ongekiMusic}}<br>
    {{"label_ongekiSkillList"|translate}} {{ongekiSkill}}<br>
    {{"label_chunithmNewMusicList"|translate}}: {{chusanMusic}}<br>
    {{"label_chunithmNewCharacterList"|translate}} {{chusanCharacter}}<br>
    {{"label_chunithmNewTrophyList"|translate}} {{chusanTrophy}}<br>
    {{"label_chunithmNewNameplateList"|translate}} {{chusanNamePlate}}<br>
    {{"label_chunithmNewSystemVoiceList"|translate}} {{chusanSystemVoice}}<br>
    {{"label_chunithmNewMapIconList"|translate}} {{chusanMapIcon}}<br>
    {{"label_chunithmNewFrameList"|translate}} {{chusanFrame}}<br>
    {{"label_chunithmNewAvatarAccessoryList"|translate}} {{chusanAvatarAcc}}<br>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="reload()">{{"label_CleanCache"|translate}}</button>
  </mat-card-actions>
</mat-card>
