<h1 class="mat-display-1">{{"label_dashboard"|translate}}</h1>

<mat-card>
  <mat-card-content>
    {{"label_dashboardIntro"|translate}}<br>
     {{"label_imageAssetsIntro"|translate}} {{enableImages ? ("label_useImageAssets"|translate) : ("label_dontUseImageAssets"|translate)}}
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>{{"label_status"|translate}}</mat-card-title>
  <mat-card-content>
    {{"label_divaMusicList"|translate}} {{divaPv|translate}}<br>
    {{"label_divaModuleList"|translate}} {{divaPv|translate}}<br>
    {{"label_divaCustomizeList"|translate}} {{divaPv|translate}}<br>
    {{"label_chunithmMusicList"|translate}} {{chuniMusic|translate}}<br>
    {{"label_chunithmCharacterList"|translate}} {{chuniCharacter|translate}}<br>
    {{"label_chunithmSkillList"|translate}} {{chuniSkill|translate}}<br>
    {{"label_ongekiCardList"|translate}} {{ongekiCard|translate}}<br>
    {{"label_ongekiCharacterList"|translate}} {{ongekiCharacter|translate}}<br>
    {{"label_ongekiMusicList"|translate}} {{ongekiMusic|translate}}<br>
    {{"label_ongekiSkillList"|translate}} {{ongekiSkill|translate}}<br>
    {{"label_chunithmNewMusicList"|translate}}: {{chusanMusic|translate}}<br>
    {{"label_chunithmNewCharacterList"|translate}} {{chusanCharacter|translate}}<br>
    {{"label_chunithmNewTrophyList"|translate}} {{chusanTrophy|translate}}<br>
    {{"label_chunithmNewNameplateList"|translate}} {{chusanNamePlate|translate}}<br>
    {{"label_chunithmNewSystemVoiceList"|translate}} {{chusanSystemVoice|translate}}<br>
    {{"label_chunithmNewMapIconList"|translate}} {{chusanMapIcon|translate}}<br>
    {{"label_chunithmNewFrameList"|translate}} {{chusanFrame|translate}}<br>
    {{"label_chunithmNewAvatarAccessoryList"|translate}} {{chusanAvatarAcc|translate}}<br>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="reload()">{{"label_CleanCache"|translate}}</button>
  </mat-card-actions>
</mat-card>
