<h1 class="mat-display-1">{{"label_import"|translate}}</h1>

<mat-card>
  <mat-card-title>
    {{"label_warning"|translate}}
  </mat-card-title>
  <mat-card-content>
   {{"label_importWarning"|translate}}
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    CHUNITHM
  </mat-card-title>
  <mat-card-content>
    <input (change)="chunithm($event)" accept=".json" class="upload-button" type='file'>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    CHUNITHM New
  </mat-card-title>
  <mat-card-content>
    <input (change)="chusan($event)" accept=".json" class="upload-button" type='file'>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    ONGEKI
  </mat-card-title>
  <mat-card-content>
    <input (change)="ongeki($event)" accept=".json" class="upload-button" type='file'>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Maimai DX
  </mat-card-title>
  <mat-card-content>
    <input (change)="maimai2($event)" accept=".json" class="upload-button" type='file'>
  </mat-card-content>
</mat-card>
